services:
  app:
    build: .
    expose:
      - "5000"
    environment:
      - REDIS_HOST=redis
      - NC_URL=${NC_URL}
      - NC_USER=${NC_USER}
      - NC_PASS=${NC_PASS}
      - WEATHER_LAT=${WEATHER_LAT}
      - WEATHER_LON=${WEATHER_LON}
      - APP_LANG=${APP_LANG:-en}
    depends_on:
      - redis

  worker:
    build: .
    command: python scanner.py
    environment:
      - REDIS_HOST=redis
      - NC_URL=${NC_URL}
      - NC_USER=${NC_USER}
      - NC_PASS=${NC_PASS}
      - NC_PHOTO_PATH=${NC_PHOTO_PATH:-/Photos/}
      - SCAN_CRON=${SCAN_CRON:-0 1 * * *}

    depends_on:
      - redis

  redis:
    image: redis:alpine
    restart: always
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - redis_data:/data

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

volumes:
  redis_data:
